*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --BG-COLOR: rgba(227, 236, 247, 0.649);
  --TXT-SHADOW: 5px 5px 12px rgb(253, 253, 253);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 2rem;
  background-size: cover;
  text-shadow: VAR(--TXT-SHADOW);

  background-repeat: no-repeat;
}

img {
  height: 3rem;
}

.search {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

/* //////// TOP ///////// */
.weatherTop {
  margin: 3rem 0;
  display: grid;
  gap: 1rem;
}

.weatherTop h1 {
  font-size: 5rem;
  font-weight: 500;
  text-shadow: VAR(--TXT-SHADOW);

  letter-spacing: 7px;
}
.weatherTop h1::after {
  content: "\00b0";
}

.weatherTop h3 {
  font-size: 3rem;
  font-weight: 400;
  text-shadow: VAR(--TXT-SHADOW);
}
.weatherTop h5 {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: VAR(--TXT-SHADOW);
}

.minMaxTemp {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.5rem;
}

/* //////// CAROUSEL ///////// */

.carouselContainer {
  background-color: var(--BG-COLOR);
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.card {
  margin-top: 1rem;
}

.cardElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

/* //////// WEEKLY TABLE ///////// */

.weeklyTable h4 {
  margin-bottom: 2rem;
}
.dayForecast {
  display: grid;
  grid-template-columns: 1fr 1fr 300px 50px 50px;
  align-items: center;
  gap: 2rem;
  border-bottom: 0.1rem solid rgb(52, 210, 221);
  margin-bottom: 1rem;

  background-color: var(--BG-COLOR);
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .dayForecast {
    grid-template-columns: repeat(4, 1fr);
  }
  .dayForecast_condition {
    display: none;
  }
}

.minMax {
  display: flex;
  align-items: center;
}

.minMax_img {
  height: 2rem;
}
